.header {
    background-color: orange !important;
}

.brand-logo {
    padding-left: 0 !important;
}

.brand-text {
    color: red !important;
    font-family: Times New Roman, sans-serif !important;
    font-size: 25px !important;
}

.module-page {
    background-color: green !important;
}

.progressbar-container {
    background-color: lightgrey !important;
}

.current-progress {
    border-bottom-color: darkmagenta !important;
    border-top-color: darkmagenta !important;
    border-right-color: darkmagenta !important;
    border-left-color: darkmagenta !important;
}

.sidebar, .mob-sidebar {
    background-color: darkblue !important;
}

.chapter-title {
    font-family: Arial, sans-serif !important;
    font-size: 18px !important;
    color: yellow;
}

.subtopics {
    font-family: Monospaced, monospace !important;
    font-size: 14px !important;
}

.subtopics__accessible {
    color: lightseagreen !important;
}

.subtopics__inaccessible {
    color: lightsteelblue !important;
}

.current-indicator {
    background: lightcoral !important;
}

.content-container{
    background-color: lightcyan !important;
}

.question-card {
    background-color: lightgoldenrodyellow !important;
}

.desc-text {
    font-family: "Comic Sans MS", monospace !important;
    font-size: 18px !important;
    color: darkolivegreen !important;
}

.question-text {
    font-family: Georgia, Sans-Serif !important;
    font-size: 13px !important;
    color: darkorchid !important;
}

#animation-container {
    border: 4px solid brown !important;
}

.data-choice {
    background-color: lightsteelblue !important;
    font-family: Geneva, sans-serif !important;
    font-size: 11px !important;
    color: brown !important;
}

.wrong-answer-theme {
    background-color: lightseagreen !important;
    font-family: "Helvetica Neue" !important;
    font-size: 19px !important;
    color: violet !important;
}

.correct-answer-theme {
    background-color: yellow !important;
    font-family: "Segoe UI", sans-serif !important;
    font-size: 15px !important;
    color: teal !important;
}

.feedback-cta {
    background-color: indigo !important;
    font-family: "Segoe UI", sans-serif !important;
    font-size: 15px !important;
    color: white !important;
}
.media-container {
    background-color: inherit !important;
}


.CircularProgressbar .CircularProgressbar-text {
    fill: #fff !important;
}

.header-login-btn,
.cp{
    display: none;
}

#rate-text, #rate-animations {
    display: none;
}

.header__login-greeting {
    display: none;
}


@media only screen and (min-width: 320px) and (max-width: 768px){
    .module-page {
        background-color: #f1f1f1 !important;
    }
    .header > div > div > a.brand-logo {
        display: inline-block;
    }
    .hamburger-switch{
        color: #fff !important;
    }
    .container{
        margin: 35px auto 0px auto !important;
    }
}